:root {
	--primary-text-color: #757575;
	--secondary-text-color: #ffffff;
	--third-text-color: rgba(255, 255, 255, 0.6);
	--primary-title-color: #212121;
	--accent-color: #2196f3;
	--primary-background-color: #ffffff;
	--secondary-background-color: #f5f4fa;
	--third-background-color: #2f303a;
	--icon-color: #afb1b8;

	--main-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.title {
	margin-bottom: 50px;
}

.btn {
	display: inline-block;
	font-family: inherit;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* -------- Header -------- */

/* -------- Hero -------- */

/* -------- Advantages -------- */

.advantages-list {
	display: flex;
}

.advantages-box {
	box-sizing: border-box;
	width: 270px;
}

.advantages-list .advantages-item:not(:last-child) {
	margin-right: 30px;
}

.advantages-icon-bg {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 270px;
	height: 120px;
	margin: 0 0 30px 0;
	border-radius: 4px;
	background-color: var(--secondary-background-color);
}

.advantages-icon {
	width: 70px;
	height: 70px;
}

.advantages-item-title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primary-title-color);
}

.advantages-item-text {
	font-size: 14px;
	line-height: 1.71;
}

/* -------- Wedo -------- */

.wedo {
	padding-top: 0;
}

.wedo-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primary-title-color);
}

.wedo-list {
	display: flex;
}

.wedo-list .wedo-item:not(:last-child) {
	margin-right: 30px;
}

.wedo-item {
	position: relative;
}

.wedo-item-title {
	position: absolute;

	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	background-color: rgba(47, 48, 58, 0.8);

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	text-transform: uppercase;
	color: var(--secondary-text-color);

	padding-top: 27px;
	padding-bottom: 27px;
}

/* -------- Team -------- */

.team {
	background-color: var(--secondary-background-color);
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primary-title-color);
}

.team-list {
	display: flex;
}

.team-list .team-item:not(:last-child) {
	margin-right: 30px;
}

.team-item {
	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	padding-bottom: 30px;
}

.team-item-title {
	margin-top: 30px;
	margin-bottom: 10px;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-title-color);
}

.team-item-text {
	margin-bottom: 16px;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
}

.team-list-social {
	display: flex;
	justify-content: center;
}

.team-item-social + .team-item-social {
	margin-left: 10px;
}

.team-social-link {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 250ms var(--main-timing);
}

.team-social-link:hover,
.team-social-link:focus {
	background-color: var(--accent-color);
}

.team-social-icon {
	width: 20px;
	height: 20px;
	fill: var(--icon-color);

	transition: fill 250ms var(--main-timing);
}

.team-social-link:hover .team-social-icon,
.team-social-link:focus .team-social-icon {
	fill: #ffffff;
}

/* -------- Clients -------- */

.clients-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	color: var(--primary-title-color);
}

.clients-list {
	display: flex;
}

.clients-item + .clients-item {
	margin-left: 30px;
}

.clients-item-link {
	border: 1px solid var(--icon-color);
	box-sizing: border-box;
	border-radius: 4px;
	width: 170px;
	height: 92px;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: border 250ms var(--main-timing);
}

.clients-item-link:hover,
.clients-item-link:focus {
	border: 1px solid var(--accent-color);
}

.clients-icon {
	width: 106px;
	height: 60px;
	fill: var(--icon-color);

	transition: fill 250ms var(--main-timing);
}

.clients-item-link:hover .clients-icon,
.clients-item-link:focus .clients-icon {
	fill: var(--accent-color);
}

/* ==================== Footer */

.footer {
	padding-bottom: 60px;
	padding-top: 60px;
	background-color: var(--third-background-color);
}

.footer-container {
	display: flex;
	align-items: baseline;
}

.footer-text {
	margin-bottom: 9px;
	font-size: 14px;
	line-height: 1.71;
	color: var(--secondary-text-color);
}

.footer-list .footer-item:not(:last-child) {
	margin-bottom: 9px;
}

.footer-contacts-link {
	font-size: 14px;
	line-height: 1.71;
	color: var(--third-text-color);

	transition: color 250ms var(--main-timing);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
	color: var(--accent-color);
}

.footer-address {
	font-style: normal;
	width: 231px;
	margin-right: 70px;
}

/* Footer Join */

.footer-title-join {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--secondary-text-color);
	margin-bottom: 20px;
}

.footer-list-join {
	display: flex;
}

.footer-item-join + .footer-item-join {
	margin-left: 10px;
}

.footer-social-link {
	width: 44px;
	height: 44px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;

	transition: background-color 250ms var(--main-timing);
}

.footer-social-link:hover,
.footer-social-link:focus {
	background-color: var(--accent-color);
}

.footer-social-icon {
	width: 20px;
	height: 20px;
	fill: var(--secondary-text-color);
}

/* Footer Form */

.footer-subscription {
	margin-left: 93px;
}

.footer-subscription-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--secondary-text-color);

	display: inline-block;
	margin-bottom: 20px;
}

.footer-subscription-form {
	display: flex;
}

.footer-form-input {
	width: 358px;
	height: 50px;

	background: var(--third-background-color);
	border: 1px solid rgba(255, 255, 255, 0.3);
	box-sizing: border-box;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	color: var(--secondary-text-color);

	padding: 15px 16px;

	outline: none;

	transition: border 250ms var(--main-timing);
}

.footer-form-input:hover,
.footer-form-input:focus {
	border: 1px solid var(--accent-color);
}

.footer-form-input::placeholder {
	font-size: 16px;
	line-height: 1.25;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
}

.footer-subscription-btn {
	position: relative;

	width: 200px;
	height: 50px;

	background: #2196f3;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;

	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);

	padding: 10px 29px;
	margin-left: 12px;
}

.subscription-btn-icon {
	position: absolute;
	top: 50%;
	left: 148px;
	transform: translateY(-50%);

	display: inline-block;
	width: 24px;
	height: 24px;

	fill: var(--secondary-text-color);
}

/* ==================== Portfolio */

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

/* Portfolio Filter */

.portfolio-filter-list {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
}

.portfolio-filter-list .portfolio-filter-item:not(:last-child) {
	margin-right: 8px;
}

.portfolio-filtﾑビ-item-btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	color: var(--primary-title-color);
	background: var(--secondary-background-color);
	padding: 6px 22px;

	transition-property: background-color, color, box-shadow;
	transition-duration: 250ms;
	transition-timing-function: var(--main-timing);
}

.portfolio-filtﾑビ-item-btn:hover,
.portfolio-filtﾑビ-item-btn:focus {
	color: var(--secondary-text-color);
	background-color: var(--accent-color);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.selected.portfolio-filtﾑビ-item-btn {
	color: var(--secondary-text-color);
	background-color: var(--accent-color);
}

/* Portfolio list */

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio-list-item {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.portfolio-list-item:nth-child(3n) {
	margin-right: 0;
}

.portfolio-list-item:nth-last-child(-n + 3) {
	margin-bottom: 0;
}

.portfolio-title-text {
	padding: 20px 24px;

	border-color: var(--primary-background-color);
	border-bottom: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	box-sizing: border-box;
}

.portfolio-list-item-title {
	margin-bottom: 4px;
	font-weight: bold;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-title-color);
}

.portfolio-list-item-text {
	font-size: 16px;
	line-height: 1.87;
	color: var(--primary-text-color);
}

.portfolio-list-link {
	display: block;
	width: 370px;
	height: 404px;

	transition: box-shadow 250ms var(--main-timing);
}

.portfolio-list-link:focus,
.portfolio-list-link:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list-img {
	position: relative;
	overflow: hidden;
}

.portfolio-list-img::before {
	position: absolute;
	display: inline-block;
	content: "";

	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;

	background-color: rgba(33, 150, 243, 0.9);

	transform: translateY(101%);
}

.portfolio-list-link:hover .portfolio-list-img::before,
.portfolio-list-link:focus .portfolio-list-img::before {
	transform: translateY(0);
	transition: transform 250ms var(--main-timing);
}

.portfolio-card-text {
	position: absolute;

	left: 0;
	bottom: 0;

	font-size: 18px;
	line-height: 1.56;
	color: var(--secondary-text-color);

	padding: 63px 24px;

	transform: translateY(101%);
}

.portfolio-list-link:hover .portfolio-card-text,
.portfolio-list-link:focus .portfolio-card-text {
	transform: translateY(0);
	transition: transform 250ms var(--main-timing);
}

/* ==================== Modal Window */

.backdrop {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0.2);

	opacity: 1;
	transition: opacity 250ms var(--main-timing);
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.backdrop.is-hidden .modal {
	transform: scale(0.9) translate(-50%, -50%);
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;

	min-width: 528px;
	min-height: 581px;

	background-color: var(--primary-background-color);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;

	transform: scale(1) translate(-50%, -50%);
	transition: transform 250ms var(--main-timing);

	padding: 40px;

	text-align: center;
}

.modal-btn-close {
	position: absolute;
	top: 8px;
	right: 8px;

	width: 30px;
	height: 30px;

	background-color: var(--primary-background-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	box-sizing: border-box;

	align-items: center;
	justify-content: center;
}

.modal-btn-icon {
	width: 11px;
	height: 11px;
	fill: #000000;

	transition: fill 250ms var(--main-timing);
}

.modal-btn-close:hover .modal-btn-icon,
.modal-btn-close:focus .modal-btn-icon {
	fill: var(--accent-color);
}

.modal-title {
	display: inline-block;

	font-weight: 700;
	font-size: 20px;
	line-height: calc(23 / 20);
	color: var(--primary-title-color);

	margin-bottom: 12px;
}

.modal-form-field {
	margin-bottom: 10px;
}

.modal-label {
	display: flex;

	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.form-field {
	position: relative;
}

.modal-input {
	width: 100%;
	height: 40px;
	padding: 12px 12px 12px 40px;

	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;

	transition: border 250ms var(--main-timing);
}

.modal-input:hover,
.modal-input:focus {
	border: 1px solid var(--accent-color);
	outline: none;
}

.form-name-icon {
	position: absolute;

	top: 50%;
	left: 12px;
	transform: translateY(-50%);

	width: 18px;
	height: 18px;
	fill: #212121;

	pointer-events: none;

	transition: fill 250ms var(--main-timing);
}

.modal-input:hover ~ .form-name-icon,
.modal-input:focus ~ .form-name-icon {
	fill: var(--accent-color);
}

.modal-form-comment {
	position: relative;
	margin-bottom: 20px;
}

.modal-label-comment {
	display: flex;

	margin-bottom: 4px;

	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.01em;
	color: var(--primary-text-color);
}

.modal-textarea-comment {
	width: 100%;

	padding: 12px 16px;
	resize: none;

	background-color: var(--primary-background-color);
	border: 1px solid rgba(33, 33, 33, 0.2);
	box-sizing: border-box;
	border-radius: 4px;

	color: var(--primary-title-color);

	transition: border 250ms var(--main-timing);
}

.modal-textarea-comment:hover,
.modal-textarea-comment:focus {
	border: 1px solid var(--accent-color);
	outline: none;
}

.modal-textarea-comment::placeholder {
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.01em;
	color: rgba(117, 117, 117, 0.5);
}

/* Modal Checkbox */

.modal-checkbox {
	margin-bottom: 30px;

	font-size: 14px;
	line-height: 1.71;
	color: var(--primary-text-color);
}

.modal-checkbox-label {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal-checkbox-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	position: absolute;
}

.modal-checkbox-icon {
	display: inline-block;

	width: 16px;
	height: 15px;

	margin-right: 8px;

	fill: var(--primary-title-color);

	transition: fill 250ms var(--main-timing);
}

.modal-checkbox-input:checked + .modal-checkbox-icon {
	fill-opacity: 0;
	background-color: var(--accent-color);
	border-radius: 2px;
	background-image: url(../icon/check-on.svg);
}

.modal-checkbox-label:hover .modal-checkbox-icon,
.modal-checkbox-label:focus .modal-checkbox-icon {
	fill: var(--accent-color);
}

.modal-checkbox-link {
	color: var(--accent-color);
}

/* Modal Button */

.modal-form-btn {
	width: 200px;
	height: 50px;

	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;

	font-weight: bold;
	font-size: 16px;
	line-height: 1.87;
	display: inline-block;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	color: var(--secondary-text-color);

	padding: 10px 55px;
}
